<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../App/static/app/login.css" />


</head>
<body>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h1>Login</h1>
            {% if error_message %}
                <ul class="form-errors">
                        <li>{{error_message}}</li>
                </ul>
            {% endif %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login">
        {% comment %} <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p> {% endcomment %}

        </form>
    </div>
</body>
</html>
